<div class="p-4">
  <h1 class="text-lg mb-4">{{data.title}}</h1>
  
  <form [formGroup]="itemForm" (ngSubmit)="submit()">
    <div class="flex flex-wrap flex-col md:flex-row">
      <div class="w-full md:w-1/2 pr-16">
        <mat-form-field class="full-width">
          <input matInput name="FirstName" [formControl]="itemForm.controls['FirstName']" placeholder="FirstName">
        </mat-form-field>
      </div>
<!-- 
      <div class="w-full md:w-1/2 pr-16">
        <mat-form-field class="full-width">
          <input matInput type="number" name="age" [formControl]="itemForm.controls['age']" placeholder="Age">
        </mat-form-field>
      </div>

      <div class="w-full md:w-1/2 pr-16">
        <mat-form-field class="full-width">
          <input matInput type="email" name="email" [formControl]="itemForm.controls['email']" placeholder="Email">
        </mat-form-field>
      </div> -->

      <div class="w-full md:w-1/2 pr-16">
        <mat-form-field class="full-width">
          <input matInput name="Gender" [formControl]="itemForm.controls['Gender']" placeholder="Gender">
        </mat-form-field>
      </div>
      <div class="w-full md:w-1/2 pr-16">
        <mat-form-field class="full-width">
          <input matInput name="PhoneNumber" [formControl]="itemForm.controls['PhoneNumber']" placeholder="PhoneNumber">
        </mat-form-field>
      </div>
      <div class="w-full md:w-1/2 pr-16">
        <mat-form-field class="full-width">
          <input matInput type="date" name="Dob" [formControl]="itemForm.controls['Dob']" placeholder="Dob">
        </mat-form-field>
      </div>
      <div class="w-full md:w-1/2 pr-16">
        <mat-form-field class="full-width">
          <input matInput name="Country" [formControl]="itemForm.controls['Country']" placeholder="Country">
        </mat-form-field>
      </div>
      <!-- <div class="w-full md:w-1/2 !pt-4 pr-16">
        <mat-slide-toggle [formControl]="itemForm.controls['isActive']">Active Customer</mat-slide-toggle>
      </div> -->

      <div class="flex w-full mt-4">
        <button mat-raised-button color="primary" [disabled]="itemForm.invalid">{{"SAVE" | translate }}</button>
        <span class="flex-grow"></span>
        <button mat-button color="warn" type="button" (click)="dialogRef.close(false)">Cancel</button>
      </div>
    </div>
  </form>
</div>